body,
html {
  margin: 0;
  height: 100%;
  background-color: rgb(73, 43, 43);
  color: beige;
}
img{
   width: 90px; 
   padding: 5px;
}

header {
  display: flex;
  height: 4rem;
  border-bottom: solid grey 0.2rem;
  flex-direction: row;
}

main {
  min-height: 80vh;
}

footer {
  text-align: center;
}

#product-images {
  display: flex;
  height: 10rem;
  width: 80vw;
  margin-top: 10em;
 
  text-align: center;
  align-items: center;
}



#product-images img {
  height: 200px;
  width: 200px;
  padding: 4rem;
}

#image-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-block: 2rem;
 
  align-items: center;
  justify-items: center;
}
#results-section{
  display: flex;
}

h2{
  margin: 2em;
  text-align: center;
}
.p-container{
  display: flex;
  justify-content: center;
}
p{
  padding: 4rem;
  text-wrap: wrap;
  width: 50vw;
}
ul{
 
  border: 1px solid wheat;
 
}

li {
  list-style: none;
  color: white;
  font-size: 2rem;
  background-color: rgb(37, 39, 216);
  margin-block: 1rem;
  padding: 1rem 2rem;
  border-radius: 6px;
}